@import 'vars';
@import 'typography';
@import 'foundation';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.joyride-tip-guide {
  width: auto;
  p {
    margin: 0;
  }
}
.section-title {
  float: left;
  width: 100%;
  margin-top: 32px;
}
.row {
  position: relative;
}
.back-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.terms {
  font-size: 12px;
}

@import 'components/bans';
@import 'components/champ-select';
@import 'components/team';