@import 'vars';
@import 'typography';
@import 'foundation';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

@import 'components/bans';
@import 'components/champ-select';