.bans {
  margin: -8px;
  padding: 0;
  list-style: none;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  &--center {
    display: inline-block;
  }
  &--right {
    float: right;
  }
  &__item {
    position: relative;
    float: left;
    padding: 8px;
  }
  &__placeholder {
    display: block;
    background: #000;
  }
  &__image {
    width: 50px;
    height: 50px;
  }
  &--big &__image {
    width: 80px;
    height: 80px;
  }
  &__level {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 22px;
    background: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  &__win-ratio {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 55px;
    height: 20px;
    background: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
}