.champ-select {
  margin-top: 32px;
  &__picks-list {
    margin: -8px;
    padding: 0;
    list-style: none;
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
  &__item {
    float: left;
    width: 16.66666666666667%;
    padding: 8px;
    @media (max-width: 1024px) {
      & {
        width: 10%;
      }
    }
    @media (max-width: 767px) {
      & {
        width: 20%;
      }
    }
    @media (max-width: 479px) {
      & {
        width: 50%;
      }
    }
  }
  &__pick {
    width: 100%;
    height: auto;
  }
}