<div class="row text-center">
    <div class="row">
        <a ui-sref="Home" class="button small back-button">Go back</a>
        <alert ng-repeat="alert in champ.alerts" type="alert.type">{{alert.msg}}</alert>
    </div>
    <h2>{{ champ.userPicksTitle }}</h2>
    <ul class="bans bans--center bans--big">
        <li class="bans__item" ng-repeat="pick in champ.userPicks" popover="{{ pick.title }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ pick.image.full }}" alt="{{ pick.champion }}" class="bans__image" width="50" height="50">
            <span class="bans__level">{{ pick.level }}</span>
            <span class="bans__win-ratio" show-percents="{{ pick.winRatio }}"></span>
        </li>
    </ul>
    <h3 class="section-title">Your role in team</h3>
    <div class="small-12 medium-6 medium-push-3 large-4 large-push-4">
        <select class="team__role" ng-model="champ.userRole" ng-change="champ.selectChampion()">
            <option value="" selected="selected">Any Role</option>
            <option value="TOP-SOLO">Top</option>
            <option value="JUNGLE-NONE">Jungle</option>
            <option value="MIDDLE-SOLO">Mid</option>
            <option value="BOTTOM-DUO_CARRY">AD Carry</option>
            <option value="BOTTOM-DUO_SUPPORT">Support</option>
        </select>
    </div>

    <h2>Suggested Bans</h2>
    <ul class="bans bans--center">
        <li class="bans__item" ng-repeat="ban in champ.bans" popover="{{ ban.title }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ ban.image.full }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
        </li>
    </ul>
</div>

<div class="champ-select">
    <div class="row">
        <div class="small-12 large-3 column">
            <h2>Bans</h2>
            <ul class="bans">
                <li class="bans__item" ng-repeat="ban in champ.teamsBans | filter:{side: 'left'}">
                    <a href="#" class="bans__placeholder" ng-click="champ.chooseBan('left', $index)" popover="{{ ban.title }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ ban.image.full }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
                    </a>
                </li>
            </ul>
            <h2 class="section-title">Your team</h2>
            <ul class="team">
                <li class="team__item" ng-repeat="teammate in champ.allyTeam">
                    <a href="#" class="team__placeholder" ng-click="champ.choosePick('ally', $index)" popover="{{ teammate.title }}" popover-trigger="mouseenter" popover-placement="right" popover-animation="false">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ teammate.image.full }}" alt="{{ teammate.champion }}" class="team__image" width="50" height="50">
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-12 large-6 column">
            <div class="champ-select__picks" ng-show="champ.showPicks">
                <h2>Champions</h2>
                <input type="text" placeholder="Search" ng-model="champ.championName">
                <ul class="champ-select__picks-list">
                    <li class="champ-select__item" ng-repeat="pick in champ.picks | filter:{champion: champ.championName}" popover="{{ pick.title }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ pick.image.full }}" alt="{{ pick.champion }}" class="champ-select__pick" width="50" height="50" ng-click="champ.selectChampion(pick.id)">
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-12 large-3 column text-right">
            <h2>Bans</h2>
            <ul class="bans bans--right">
                <li class="bans__item" ng-repeat="ban in champ.teamsBans | filter:{side: 'right'}">
                    <a href="#" class="bans__placeholder" ng-click="champ.chooseBan('right', $index)" popover="{{ ban.title }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ ban.image.full }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
                    </a>
                </li>
            </ul>
            <h2 class="section-title">Enemy team</h2>
            <ul class="team team--right">
                <li class="team__item" ng-repeat="enemy in champ.enemyTeam">
                    <a href="#" class="team__placeholder" ng-click="champ.choosePick('enemy', $index)" popover="{{ enemy.title }}" popover-trigger="mouseenter" popover-placement="left" popover-animation="false">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ enemy.image.full }}" alt="{{ enemy.champion }}" class="team__image" width="50" height="50">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>