<div class="row text-center">
    <h2>Suggested Bans</h2>
    <ul class="bans bans--center">
        <li class="bans__item" ng-repeat="ban in champ.bans" popover="{{ ban.champion }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
            <img src="{{ ban.image }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
        </li>
    </ul>
</div>

<div class="champ-select">
    <div class="row">
        <div class="small-3 column">
            <h2>Bans</h2>
            <ul class="bans">
                <li class="bans__item" ng-repeat="ban in champ.teamsBans | filter:{side: 'left'}">
                    <a href="#" class="bans__placeholder" ng-click="champ.chooseBan('left', $index)" popover="{{ ban.champion }}" popover-trigger="mouseenter" popover-placement="left" popover-animation="false">
                        <img src="{{ ban.image }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-6 column">
            <div class="champ-select__picks" ng-show="champ.showPicks">
                <h2>Champions</h2>
                <input type="text" placeholder="Search" ng-model="championName">
                <ul class="champ-select__picks-list">
                    <li class="champ-select__item" ng-repeat="pick in champ.picks | filter:championName" popover="{{ pick.champion }}" popover-trigger="mouseenter" popover-placement="bottom" popover-animation="false">
                        <img src="{{ pick.image }}" alt="{{ pick.champion }}" class="champ-select__pick" width="50" height="50" ng-click="champ.selectChampion($index)">
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-3 column text-right">
            <h2>Bans</h2>
            <ul class="bans bans--right">
                <li class="bans__item" ng-repeat="ban in champ.teamsBans | filter:{side: 'right'}">
                    <a href="#" class="bans__placeholder" ng-click="champ.chooseBan('right', $index)" popover="{{ ban.champion }}" popover-trigger="mouseenter" popover-placement="left" popover-animation="false">
                        <img src="{{ ban.image }}" alt="{{ ban.champion }}" class="bans__image" width="50" height="50">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>