<div class="row">
    <div class="small-12 columns">
        <form ng-submit="home.searchSummoner(home.form)">
            <alert ng-repeat="alert in home.alerts" type="alert.type">{{alert.msg}}</alert>
            <div class="row">
                <div class="small-6 columns">
                    <input type="text" placeholder="Summoner name" name="username" ng-model="home.form.name">
                </div>
                <div class="small-3 columns">
                    <select name="region" ng-model="home.form.region">
                        <option ng-repeat="region in home.regions" value="{{ region.id }}">{{ region.name }}</option>
                    </select>
                </div>
                <div class="small-3 column">
                    <button class="button">Search</button>
                </div>
            </div>
        </form>

        <p>
            Above list contains champions you play most. In the upper left corner of each portrait you can find a rank you have achieved with that champion and in the lower right corner you can find predicted chance to win. Change your role and update banned and picked champions to update the list.
        </p>

        <p class="terms">
            What2pick isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </p>
    </div>
</div>

